@import 'reset.css';

body {
    background-color: #eeeeee;
    text-align: center;
}
.info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p {
    font-family: 'Nunito';
    font-size: 3rem;
    font-weight: 600;
    color: #31435a;
}
.sk-cube-grid {
    width: 180px;
    height: 180px;
    margin: 0 auto 100px;
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    background-color: rgba(79, 157, 166, .5);
    border-radius: 50%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
    background-color: rgba(79, 157, 166, .7);
    border-radius: 50%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
    background-color: rgba(79, 157, 166, .9);
    border-radius: 50%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
    background-color: rgba(79, 157, 166, .3);
    border-radius: 50%;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
    background-color: rgba(79, 157, 166, .5);
    border-radius: 50%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
    background-color: rgba(79, 157, 166, .7);
    border-radius: 50%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
    background-color: rgba(79, 157, 166, .15);
    border-radius: 50%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
    background-color: rgba(79, 157, 166, .3);
    border-radius: 50%;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
    background-color: rgba(79, 157, 166, .5);
    border-radius: 50%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@media screen and (max-width: 992px){
    p { font-size: 2.5rem; }
    .sk-cube-grid { width: 120px; height: 120px; }
}

@media screen and (max-width: 576px){
    p { font-size: 2rem; }
}